<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="rds">
    <img src="rds/1.png" class="img-responsive" width="800">
    <img src="rds/2.png" class="img-responsive" width="800">
    <img src="rds/3.png" class="img-responsive" width="800">
    <img src="rds/4.png" class="img-responsive" width="800">
    <img src="rds/5.png" class="img-responsive" width="800">
    <img src="rds/6.png" class="img-responsive" width="800">
    <img src="rds/7.png" class="img-responsive" width="800">
    <img src="rds/8.png" class="img-responsive" width="800">
    <img src="rds/9.png" class="img-responsive" width="800">
</div>
</html>