<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:insert="fragments/head.html :: head">
    <title>AWS Course</title>

    <script>
        $(document).ready(
            function() {
                setInterval(function() {
                    location.reload(true);
                }, 5000);
            });
    </script>

</head>

<body>

<div class="container" id="tasksContainer">
    <h2 th:inline="text">Chapter [[${chapter.title}]]</h2>
    <ul th:each="task : ${tasks}">
        <li>[[${task.description}]] [[${task.done} ? 'DONE' : 'NOT DONE']]</li>
    </ul>
    <br/>
    <br/>
    <h2 th:inline="text">Logged in as [[${#httpServletRequest.remoteUser}]]</h2>
    <form th:action="@{/logout}" method="post">
        <div>
            <input type="submit" class="btn btn-primary" value="Sign Out"/>
        </div>
    </form>
</div>

</body>
</html>