<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:insert="fragments/head.html :: head">
    <title>AWS Course</title>

    <script>
        $(document).ready(
            function () {
                setInterval(function () {
                    location.reload(true);
                }, 5000);
            });
    </script>

</head>

<body>

<div class="container" id="tasksContainer">
    <h2 th:inline="text">Chapter [[${chapter.title}]]</h2>
    <form th:action="@{/chapter}" method="POST" modelAttribute="answer">
        <div>
            <input type="hidden" th:name="id" th:value="${chapter.chapterId}"/>

            <ul th:each="ut : ${tasks}">
                <li>
                    <label for="bucketName">[[${ut.task?.description}]]</label>
                    <input type="text" id="bucketName" th:name="bucketName" th:value="${ut.answers.get('bucketName')}"/>
                    [[${ut.done} ? 'DONE' : 'NOT DONE']]
                </li>
            </ul>
            <input type="submit" class="btn btn-primary" value="Next"/>
        </div>
    </form>
    <br/>
    <br/>
    <h2 th:inline="text">Logged in as [[${#httpServletRequest.remoteUser}]]</h2>
    <form th:action="@{/logout}" method="post">
        <div>
            <input type="submit" class="btn btn-primary" value="Sign Out"/>
        </div>
    </form>
</div>

</body>
</html>