<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:insert="fragments/head.html :: head">
    <title>AWS Course</title>
</head>

<body>

<div class="container" id="tasksContainer">
    <h2 th:inline="text">Chapter [[${chapter.title}]]</h2>
    <form th:action="${allDone} ? ${nextChapter} : @{/chapter}"
          th:method="${allDone} ? 'GET' : 'POST'"
          modelAttribute="answer"
          th:onsubmit="sanitiseFormData()">
        <div class="d-inline">
            <input type="hidden" th:name="id" th:value="${chapter.chapterId}"/>
            <ul class="d-inline" th:each="ut : ${tasks}">
                <li>
                    <div class="d-inline" th:each="df : ${ut.task?.getDescriptionFragments()}">
                        <input class="d-inline" th:if="${df.input && df.visible}" type="text" id="${df.text}"
                               th:name="${df.text}"
                               th:value="${ut.answers.get(df.text)}">
                        <div class="d-inline" th:unless="${df.input}">[[${df.text}]]</div>
                    </div>
                    [[${ut.done} ? 'DONE' : 'NOT DONE']]
                    <br/>
                    <small id="errors" class="text-danger">
                        [[${#vars.getVariable('error'+ut.task?.taskId)}]]
                    </small>
                    <div th:replace="fragments/task.html :: details(page=${ut.task.getPage()})"/>
                </li>
            </ul>
        </div>
        <br/>
        <input type="submit" class="btn btn-primary" th:value="${allDone} ? 'Next' : 'Check'"/>
</div>
</form>
<br/>
<br/>

<div class="fixed-top">
    <div class="float-right">
        <h6 th:inline="text" class="d-inline">Logged in as [[${#httpServletRequest.remoteUser}]]</h6>
        <form th:action="@{/logout}" method="post" class="d-inline">
            <div>
                <input type="submit" class="btn btn-secondary small" value="Sign Out"/>
            </div>
        </form>
    </div>
</div>

<script>
    window.sanitiseFormData = function(poop) {
        $("form[method=get] input").attr("disabled", "disabled");
        return true;
    }
</script>

</body>
</html>