<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="fragments/head.html :: head">
    <title>Congratulations!</title>
</head>
<body>
<div class="container" id="congratsContainer">
    <div class="row">
        <div class="d-inline align-content-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Amazon_Web_Services_Logo.svg"
                 class="img-responsive"
                 width="600"/>
        </div>
    </div>
    <div class="row">
        <h1>Congrats: you've completed all the tasks!</h1>
    </div>
</div>
</body>
</html>