<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Chapter</title>
</head>
<body>
<h2 th:inline="text">Logged in as [[${#httpServletRequest.remoteUser}]]</h2>
<br/>
<br/>
<h2 th:inline="text">Chapter [[${chapter.title}]]</h2>
<ul th:each="task : ${tasks}">
    <li th:text="${task.description}">Name</li>
</ul>
<br/>
<br/>
<h2 th:inline="text">Task [[${#httpServletRequest.remoteUser}]]</h2>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>