<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:insert="fragments/head.html :: head">
    <title>Progress</title>
</head>

<body>

<div class="container" id="tasksContainer">
    <div th:each="p : ${progress}">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col" style="font-size: large;"><b>[[ ${p.chapterTitle} ]]</b></th>
                <th th:each="description : ${p.taskDescriptions}" scope="col">[[ ${description} ]]</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="i : ${#numbers.sequence( 0, p.userNames.length-1, 1)}">
                <th scope="row">[[ ${p.userNames[i]} ]]</th>
                <td th:each="j : ${#numbers.sequence( 0, p.taskDescriptions.length-1, 1)}">
                    <img src="image/done.png" th:if="${p.taskProgress[i][j]}">
                </td>
            </tr>
            </tbody>
        </table>
        <br/>
        <br/>
    </div>
</div>

</body>
</html>